<a href="https://colab.research.google.com/github/JosenildoVicente/analise-de-dados-com-python-e-pandas/blob/main/analise_dio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python básico

In [ ]:
print("Olá mundo!")

Olá mundo!

In [ ]:
print("Etou aprendendo Python")

Etou aprendendo Python

In [ ]:
"Estou aprendendo Python"

'Estou aprendendo Python'

In [ ]:
1 + 1

2

In [ ]:
10 - 2

8

In [ ]:
#Esse é um comentário em Python

In [ ]:
#Multiplicação
2 * 2

4

In [ ]:
#Divisão
10 / 2

5.0

In [ ]:
a = 4
b = 6

In [ ]:
a + b

10

In [ ]:
#Criando uma variável do tipo String
frase = "Python para análise de dados"

In [ ]:
frase[0]

'P'

In [ ]:
frase[0:10]

'Python par'

In [ ]:
frase[10:]

'a análise de dados'

In [ ]:
frase[:17]

'Python para análi'

In [ ]:
frase.count("dados")

1

In [ ]:
frase.lower()

'python para análise de dados'

In [ ]:
frase.upper()

'PYTHON PARA ANÁLISE DE DADOS'

In [ ]:
frase.replace('Python','Frases')

'Frases para análise de dados'

In [ ]:
frase

'Python para análise de dados'

#Estrutura de dados

##Listas

In [ ]:
animais = [1,2,3]
animais

[1, 2, 3]

In [ ]:
animais = ['Cachorro', 'Gato',12345,6.5]
animais

['Cachorro', 'Gato', 12345, 6.5]

In [ ]:
animais[0]

'Cachorro'

In [ ]:
animais[3]

6.5

In [ ]:
animais[0]= 'Papagaio'

In [ ]:
animais

['Papagaio', 'Gato', 12345, 6.5]

In [ ]:
animais.remove('Gato')

In [ ]:
animais

['Papagaio', 12345, 6.5]

In [ ]:
len(animais)

3

In [ ]:
'gato' in animais

False

In [ ]:
lista = [500, 30, 300, 80, 10]

In [ ]:
max(lista)

500

In [ ]:
min(lista)

10

In [ ]:
animais.append('leão')

In [ ]:
animais

['Papagaio', 12345, 6.5, 'leão']

In [ ]:
animais.extend(['cobra',6])

In [ ]:
animais

['Papagaio', 12345, 6.5, 'leão', 'cobra', 6]

In [ ]:
animais.count('cachorro')

0

In [ ]:
lista.sort()

In [ ]:
lista

[10, 30, 80, 300, 500]

##Tuplas

In [ ]:
tp = ("Banana", "Maçã", 10, 50)

In [ ]:
tp[0]

'Banana'

In [ ]:
tp[0] = 'Laranja'

TypeError: ignored

In [ ]:
tp.count('Maçã')

1

In [ ]:
tp[0:2]

('Banana', 'Maçã')

##Dicionários

In [ ]:
dc = {"Maçã":20, "Banana":10, "laranja":15, "uva":5}

In [ ]:
dc

{'Maçã': 20, 'Banana': 10, 'laranja': 15, 'uva': 5}

In [ ]:
dc['Maçã']

20

In [ ]:
dc['Maçã'] = 25

In [ ]:
dc

{'Maçã': 25, 'Banana': 10, 'laranja': 15, 'uva': 5}

In [ ]:
dc.keys()

dict_keys(['Maçã', 'Banana', 'laranja', 'uva'])

In [ ]:
dc.values()

dict_values([25, 10, 15, 5])

In [ ]:
dc.setdefault("Limão",22)

22

In [ ]:
dc

{'Maçã': 25, 'Banana': 10, 'laranja': 15, 'uva': 5, 'Limão': 22}

#Python para análise de dados(Pandas)

In [60]:
#Importando a biblioteca Pandas
import pandas as pd

In [65]:
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv",error_bad_lines=False, sep=';')

In [66]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [68]:
df = df.rename(columns={"country":"Pais","continent":"Continente", "year":"Ano","lifeExp":"Expectativa de vida", "pop":"Pop total", "gdpPercap":"PIB"})

In [69]:
df.head()

          Pais Continente   Ano  Expectativa de vida  Pop total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [72]:
df.shape

(3312, 6)

In [73]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de vida', 'Pop total', 'PIB'], dtype='object')

In [77]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
Pop total                int64
PIB                    float64
dtype: object

In [79]:
df.tail(15)

          Pais Continente   Ano  Expectativa de vida  Pop total          PIB
3297    Zambia     Africa  1997               40.238    9417789  1071.353818
3298    Zambia     Africa  2002               39.193   10595811  1071.613938
3299    Zambia     Africa  2007               42.384   11746035  1271.211593
3300  Zimbabwe     Africa  1952               48.451    3080907   406.884115
3301  Zimbabwe     Africa  1957               50.469    3646340   518.764268
3302  Zimbabwe     Africa  1962               52.358    4277736   527.272182
3303  Zimbabwe     Africa  1967               53.995    4995432   569.795071
3304  Zimbabwe     Africa  1972               55.635    5861135   799.362176
3305  Zimbabwe     Africa  1977               57.674    6642107   685.587682
3306  Zimbabwe     Africa  1982               60.363    7636524   788.855041
3307  Zimbabwe     Africa  1987               62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143   469.709298

In [80]:
df.describe()

               Ano  Expectativa de vida     Pop total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [81]:
df['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [82]:
Oceania = df.loc[df['Continente']=='Oceania']
Oceania.head()

     Pais Continente   Ano  Expectativa de vida  Pop total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [88]:
df.groupby('Continente')['Pais'].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [91]:
df.groupby('Ano')['Expectativa de vida'].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

In [92]:
df['PIB'].mean()

11317.115804696648

In [93]:
df['PIB'].sum()

37482287.5451553

#Trabalhando com Planilhas do Excel

In [94]:
import pandas as pd

In [97]:
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [98]:
df = pd.concat([df1,df2,df3,df4,df5])

In [100]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [101]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [102]:
df.sample(10)

        Cidade       Data  Vendas  LojaID  Qtde
140   Salvador 2019-03-02   20.79    1036     2
61       Natal 2018-09-11  724.00     853     2
72     Aracaju 2018-01-01  168.95    1523     7
16      Recife 2019-01-01   19.95     980     8
145      Natal 2019-01-02   84.62    1034     2
51      Recife 2019-01-01  146.95     982     2
34   Fortaleza 2019-01-01    3.10    1003     5
115      Natal 2019-01-02  202.33    1035     2
217      Natal 2019-01-02   37.65    1036     2
139      Natal 2019-01-02  169.01    1036     1

In [104]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [105]:
df['LojaID'] = df['LojaID'].astype("object")

In [106]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

##Tratando valores faltantes

In [107]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [110]:
df['Vendas'].fillna(df['Vendas'].mean(),inplace=True)

In [ ]:
df.sample(15)

In [112]:
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [114]:
df.head(5)

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [115]:
df['Receita'].max()

3544.0

In [116]:
df['Receita'].min()

3.34

In [117]:
df.nlargest(3,'Receita')

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [119]:
df.nsmallest(3,'Receita')

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [120]:
df.groupby("Cidade")['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [121]:
df.sort_values('Receita',ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0

#Trabalhando com Datas

In [123]:
df['Data'] = df['Data'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

In [125]:
df.dtypes

Cidade      object
Data         int64
Vendas     float64
LojaID      object
Qtde         int64
Receita    float64
dtype: object

In [126]:
df['Data'] = pd.to_datetime(df["Data"])

In [127]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [128]:
df.groupby(df['Data'].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [129]:
df['Ano_Venda'] = df['Data'].dt.year

In [130]:
df.sample(5)

       Cidade       Data  Vendas LojaID  Qtde  Receita  Ano_Venda
118   Aracaju 2018-01-01    3.34   1522     1     3.34       2018
8    Salvador 2019-02-11    4.96   1036     2     9.92       2019
180  Salvador 2019-01-02  116.63   1035     2   233.26       2019
76    Aracaju 2018-01-01   33.51   1523     4   134.04       2018
220     Natal 2019-01-02   42.71   1035     1    42.71       2019

In [131]:
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df['Data'].dt.day)

In [133]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda
129,Natal,2019-01-02,125.66,1037,1,125.66,2019,1,2
18,Salvador,2019-01-01,242.31,1035,1,242.31,2019,1,1
180,Natal,2019-01-02,116.63,1035,2,233.26,2019,1,2
99,Natal,2019-01-02,40.38,1037,1,40.38,2019,1,2
7,Natal,2019-03-18,886.00,853,4,3544.00,2019,3,18

In [134]:
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [135]:
df["diferenca_dias"] = df['Data'] - df["Data"].min()

In [136]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,diferenca_dias
185,Salvador,2019-01-02,6.67,1036,1,6.67,2019,1,2,366 days
139,Recife,2019-03-02,141.16,980,7,988.12,2019,3,2,425 days
138,Recife,2019-03-02,150.38,983,6,902.28,2019,3,2,425 days
123,Recife,2019-03-02,20.22,981,6,121.32,2019,3,2,425 days
27,Fortaleza,2019-01-01,212.37,1003,6,1274.22,2019,1,1,365 days

In [137]:
df['trimestre_venda'] = df['Data'].dt.quarter

In [149]:
df.sample(10)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
66,Natal,2019-03-24,559.00,853,2,1118.00,2019,3,24,447 days,1
193,Salvador,2019-01-02,3.97,1036,2,7.94,2019,1,2,366 days,1
32,Natal,2019-03-17,244.00,854,2,488.00,2019,3,17,440 days,1
62,Fortaleza,2019-01-01,106.21,1005,6,637.26,2019,1,1,365 days,1
50,Aracaju,2018-01-01,7.52,1522,5,37.60,2018,1,1,0 days,1
193,Natal,2019-01-02,3.97,1036,2,7.94,2019,1,2,366 days,1
56,Aracaju,2018-01-01,41.90,1523,6,251.40,2018,1,1,0 days,1
127,Aracaju,2018-01-01,33.12,1522,9,298.08,2018,1,1,0 days,1
81,Natal,2019-04-02,564.00,854,2,1128.00,2019,4,2,456 days,2
34,Aracaju,2018-01-01,38.25,1521,6,229.50,2018,1,1,0 days,1

In [151]:
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [152]:
vendas_marco_19

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
108,Fortaleza,2019-03-02,152.89,981,4,611.56,2019,3,2,425 days,1
109,Fortaleza,2019-03-02,18.90,982,6,113.40,2019,3,2,425 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,2019,3,2,425 days,1
111,Fortaleza,2019-03-02,8.00,981,3,24.00,2019,3,2,425 days,1
112,Fortaleza,2019-03-02,133.59,982,1,133.59,2019,3,2,425 days,1
...,...,...,...,...,...,...,...,...,...,...,...
137,Salvador,2019-03-02,51.66,1036,3,154.98,2019,3,2,425 days,1
138,Salvador,2019-03-02,212.03,1037,3,636.09,2019,3,2,425 days,1
139,Salvador,2019-03-02,169.01,1036,1,169.01,2019,3,2,425 days,1
140,Salvador,2019-03-02,20.79,1036,2,41.58,2019,3,2,425 days,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,2019,3,2,425 days,1